# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build Core

on:
  push:
    branches: [ main ]
    tags:
      - 'typeid-core-v*'
    paths:
      - 'src/FastIDs.TypeId/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/FastIDs.TypeId/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [8, 10]
    defaults:
      run:
        working-directory: ./src/FastIDs.TypeId
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration Release
      - name: Test
        run: dotnet test --no-restore --no-build --configuration Release
        
  native-aot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [8, 10]
    defaults:
      run:
        working-directory: ./src/FastIDs.TypeId
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Restore dependencies
        run: dotnet restore
      - name: Native AOT publish
        env: 
          TARGET_FRAMEWORK: "net${{ matrix.dotnet-version }}.0"
        run: |
          set -euo pipefail
          dotnet publish ./TypeId.Core/TypeId.Core.csproj -c Release -r linux-x64 -f $TARGET_FRAMEWORK /p:PublishAot=true -o ./native-artifacts
          ls -la ./native-artifacts

  pack-and-push:
    runs-on: ubuntu-latest
    needs: [build, native-aot]
    if: startsWith(github.ref, 'refs/tags/')
    defaults:
      run:
        working-directory: ./src/FastIDs.TypeId
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration Release ./TypeId.Core/TypeId.Core.csproj
      - name: Pack
        run: dotnet pack --no-build -c Release ./TypeId.Core -o ./artifacts
      - name: Publish to NuGet
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push ./artifacts/*.nupkg -s https://api.nuget.org/v3/index.json -k $NUGET_API_KEY --skip-duplicate
